:root {
    --main: #2D4F4C;
    --sec: #595454;
    --thir: #FFF;
    --four: #252424;
    --fif: #494646;
    --six: #F5F5F5;
    --sev: #E82929;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.banner {
    display: none;
}


form.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 450px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 95vh;
    border-radius: 10px;
    padding: 10px 0;
}

.log_info {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

.log_info .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../img/main.png');
}

.log_info .img img {
    width: 100%;
}

.log_info h1 {
    background: -webkit-linear-gradient(45deg, var(--four) 5%, var(--sev) 20% , var(--main) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.7em;
}

.log_info h3 {
    color: var(--sec);
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 8%;
}

.log_info div {
    width: 100%;
    position: relative;
}

.log_info div input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main);
    margin-bottom: 10px;
}

.log_info div span {
    position: absolute;
    top: 10px;
    left: 8px;
    background-color: var(--thir);
    padding: 0 5px;
    color: var(--sec);
    transition: top ease-in-out .2s, font-size ease-in-out .2s;
}

.log_info div label.focus span {
    top: -8px;
    font-size: .9em;
}

.log_info div i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--fif);
}

.log_info div i:hover {
    cursor: pointer;
}

.log_info .check_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
}

.log_info .check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    gap: 5px;
}

.log_info .check input {
    width: auto;
    display: inline-block;
    border-color: var(--main);
    margin-bottom: 0;
}

.check_container a {
    font-size: .9em;
}
.log_info button,
.log_info #connect {
    display: block;
    width: 100%;
    padding: 13px;
    border-radius: 100px;
    border: none;
    text-align: center;
}

.log_info button {
    background-color: var(--main);
    color: var(--thir);
    transition: scale .2s ease-in-out;
}

.log_info button:hover {
    cursor: pointer;
    background-color: #3c746f;
}

.log_info button p {
    font-weight: 500;
    font-size: large;
}
.log_info #connect {
    background-color: var(--six);
    text-decoration: none;
    color: var(--four);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10%;
}

#connect:hover {
    background-color: #eeeeee;
}

#connect img {
    width: 20px;
}

.log_info p {
    font-size: .9em;
}

form.failed input {
    border-color: #E82929;
}

#remember.error,
#username.error,
#password.error {
    border-color: #E82929;
}

/* responsive */
@media screen and (max-width: 500px) {
    form.container {
        width: 100vw;
        box-shadow: none;
    }
}

@media screen and (min-width: 700px) {
    body {
        display: flex;
    }

    .banner {
        display: block;
        width: 70%;
        background-color: var(--main);
        position: relative;
    }

    .banner img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    form.container {
        position: relative;
        transform: translate(0, 0);
        top: 0;
        left: 0;
        height: 100vh;
        box-shadow: none;
    }
}