:root {
    --main: #2D4F4C;
    --sec: #595454;
    --thir: #FFF;
    --four: #252424;
    --fif: #494646;
    --six: #F5F5F5;
    --sev: #E82929;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

header {
    height: 7vh;
    background-color: var(--main);
    padding: 5px;
    border-bottom: 1px solid var(--six);
}

header i {
    float: right;
    color: var(--six);
    font-size: 35px;
}

nav {
    position: absolute;
    left: 100%;
    top: 7vh;
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    transition: left .2s ease-in-out;
    z-index: 3;
}

nav ul {
    width: 100%;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

nav ul li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    transition: background .2s ease-in-out;
}

nav div {
    width: 100%;
}

nav img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav a {
    width: 100%;
    color: var(--six);
    text-decoration: none;
}

nav li:hover {
    background-color: #3c746f;
}

nav.show {
    left: 0;
}

form {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px 5px;
}

.text_container {
    height: 100%;
    position: relative;
}

.text_container p {
    max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.text_container p.response {
    background-color: var(--six);
}

.text_container p.question {
    color: var(--thir);
    background-color: var(--main);
    float: right;
}

form .end_sms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    gap: 5px;
    width: 100%;
}

.end_sms textarea {
    width: 85vw;
    border-radius: 20px;
    height: 5vh;
    padding: 6px 15px;
    border: 1px solid var(--main);
    resize: none;
}

.end_sms i {
    font-size: 20px;
    color: var(--main);
}


.greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
}
.text_container h1 {
    background: -webkit-linear-gradient(45deg, var(--four) 5%, var(--sev) 20% , var(--main) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.7em;
    text-align: center;
}

.text_container h3 {
    text-align: center;
    color: var(--sec);
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 8%;
}

/* responsive */
@media screen and (min-width: 700px) {

    body {
        display: flex;
        justify-content: center;
    }
    header {
        display: none;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 50px; 
      height: 100vh;
    }

    nav ul {
        height: 100%;
        justify-content: space-between;
    }

    nav li p {
        display: none;
    }

    #profile li {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        margin-left: 50px;
        width: 55vw;
        max-width: 850px;
        min-width: 600px;
    }

    .end_sms svg {
        width: 50px;
        height: 50px;
    }
}